name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Plenary Busted Tests

    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          path: compile-mode.nvim

      - name: Setup `plenary.nvim`
        uses: actions/checkout@v4
        with:
          repository: nvim-lua/plenary.nvim
          path: plenary.nvim

      - name: Install Neovim
        uses: MunifTanjim/setup-neovim-action@v1

      - name: Run Tests
        run: |
          cd compile-mode.nvim
          make setup-ci
          make test
