name: Test

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  test:
    name: Plenary Busted Tests

    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        nvim_version:
          - 0.10.0
          - 0.10.1
          - 0.10.4
        exclude:
          # There's an issue building Vim syntax files from source for this version on macOS, specifically...
          - os: macos-latest
            nvim_version: 0.10.0

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          path: compile-mode.nvim

      - name: Setup `plenary.nvim`
        uses: actions/checkout@v4
        with:
          repository: nvim-lua/plenary.nvim
          path: plenary.nvim

      # workaround for https://github.com/actions/runner-images/issues/10984
      - name: Fix Homebrew Issue
        run: |
          brew uninstall --ignore-dependencies --force pkg-config@0.29.2
        if: matrix.os == 'macos-latest'

      - name: Install Neovim
        uses: ej-shafran/setup-neovim-action@v1
        with:
          tag: v${{ matrix.nvim_version }}
        if: matrix.os != 'windows-latest'

      - name: Install Neovim (Windows)
        run: |
          choco install neovim --version=${{ matrix.nvim_version }}
          echo 'C:\tools\neovim\nvim-win64\bin' | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
        if: matrix.os == 'windows-latest'

      - name: Run Tests
        run: |
          cd compile-mode.nvim
          make setup-ci
          make test
